@keyframes bouncy-animation {
	0%, 100% {
		transform: translateY(0);
	}
	50% {
        transform: translateY(-30px);
        color: red;
	}
}

@keyframes font-sizer {
    0%, 100% {
        font-size: initial;
    }
    50% {
        font-size: 2.5rem;
    }
}

.whacky {
    animation-duration: 300ms;
    transition: font-size 100ms;
}

.bouncy {
    animation-duration: 0.6s;
    transition: color 100ms;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

@keyframes spinjump {
    0%, 12%, 50%, 100% {
        transform: translateY(0px) rotate(90deg);
        color: inherit;
    }
    1% {
        transform: translateX(-3px);
    }
    2% {
        transform: translateX(3px);
    }
    3% {
        transform: translateX(-3px);
    }
    4% {
        transform: translateX(3px);
    }
    5% {
        transform: translateX(2px);
        
    }
    7% {
        transform: translateX(-2px);
    }
    9% {
        transform: translateX(2px);
    }
    11% {
        transform: translateX(-1px);
    }
    25% {
        transform: translateY(-15px) rotate(-190deg);
        animation-timing-function: ease-in-out;
        color: green;
    }
    70% {
        transform: translateY(-35px) rotate(260deg);
        color: yellow;
    }
}

.spinner-jumper {
    transition: color 150ms;
    animation-duration: 1300ms;
    animation-iteration-count: infinite;
}

